.reset-password-container{
    height: 100vh;
    display: flex;
}

.page-is-expired-container{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

.page-is-expired-container>img{
    width: 20%;
}

.page-is-expired-container>h2{
   font-size: 3rem;
   color: #474646;
}