.searchbox-container {
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: center;
    padding: 0.4rem 0;
}

.expedientes-buttons-container {
    display: flex;
    max-width: 19rem;
    justify-content: space-around;
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.total-resultados-container{
    width: 83.5%;
    margin: 1rem auto;
    font-size: 1.4rem;
    font-weight: 900;
}

.expedientes-table-container {
    width: 83%;
    margin: 1rem auto;
}

.table-expedientes {
    width: 100%;
    margin: 1rem auto;
    border-collapse: collapse;
    /* QUITAMOS LOS ESPACIOS ENTRE CAMPOS */
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
    color: #000000;
    font-weight: 200;
    ;
}

.expedientes-thead {
    height: 3rem;
    background: #672d45;
    color: #fff;
}

.expedientes-tbody {
    background-color: #ffff;
}

.expedientes-row {
    height: 3rem;
    border-bottom: 1px solid #dcd9d9;
}

.expedientes-row:hover {
    background-color: #c3c3c334;
}

.field-expedientes {
    padding: 0 1rem;
    text-align: center;
}

.go-to-documents-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 9.4rem;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    color: #000;
    background-color: #b38e5d;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

.content-icon {
    width: 1.5rem;
}

.paginacion {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.paginacion .pagination-btn {
    cursor: pointer;
    color: black;
    float: left;
    padding: 8px 16px;
}

.paginacion .pagination-btn.activo {
    background-color: #621131d2;
    color: white;
}

.paginacion .pagination-btn:hover:not(.activo) {
    background-color: #80808071;
    color: #2f2d2d;
}

.paginacion .pagination-btn {
    background-color: #ffff;
    border: 1px solid #80808071;
}

.paginacion .pagination-btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.paginacion .pagination-btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}